@page "/Forks"
@using GitInsight.Web.Services
@using System.Net
@inject IAnalysisService AnalysisService

<h3>Forks</h3>
<form @onsubmit="@GetForks">
    <RadzenTextBox type="text" @bind-Value="@_textInput" placeholder="user/GitRepo"/>
    <button class="btn btn-primary" type="submit">Go</button>
</form>
<p style="color: red;">@_error</p>
<p>@_loading</p>

@if (_forksGiven == null)
{
    <p>Please input a repository</p>
}
else if (!_forksGiven.Any())
{
    <p>@_textInput does not have any forks</p>
}
else
{
    <RadzenDataList TItem="ForkDto" Data="@_forksGiven" WrapItems="true">
        <Template Context="fork">
            <ForkCard Fork="@fork"/>
        </Template>
    </RadzenDataList>
}
@code {
    private string? _textInput;
    private string? _error;
    private string? _loading;

    IEnumerable<ForkDto>? _forksGiven;

    async Task GetForks()
    {
        _textInput ??= "";
        if (_textInput.Trim() == "" || !_textInput.Contains("/"))
        {
            _error = "Please enter a valid input";
            return;
        }
        _error = null;
        _loading = "Loading...";
        try
        {
            _forksGiven = await AnalysisService.GetForksFromApi(_textInput);
            _error = null;
        }
        catch (HttpRequestException e)
        {
            Console.WriteLine(e);
            _error = e.Message;
            _forksGiven = null;
        }
        _loading = null;
    }

}
